@model List<SelectListItem>
@*@model WebApplication6.Models.hierarchie_be*@


<div class="col-lg-6">
    <table>

        @foreach (var categorie in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => categorie.niveau)*@
                </td>
            </tr>
        }

    </table>
</div>

@*@using (Html.BeginForm("SubmitMappingCategories", "UploadCatalogue", FormMethod.Post))
    {
        @Html.DropDownList("refproduit", Model)
    }*@

@using (Html.BeginForm("SubmitMappingCategories", "UploadCatalogue", FormMethod.Post))
{
    <tr>
        <td>
            @Html.DropDownList("listbox1", Model)
        </td>
    </tr>
}

@{
    Html.RenderPartial("_ListBox2");
}