@model List<SelectListItem>
@*@model WebApplication6.Models.hierarchie_be*@


<div class="col-lg-5">
    <table>

        @foreach (var categorie in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => categorie.niveau)*@
                </td>
            </tr>
        }

    </table>
</div>

@using (Html.BeginForm("SubmitMappingCategories", "UploadCatalogue", FormMethod.Post))
{
    @Html.DropDownList("refproduit", Model)
}