

@{
    ViewBag.Title = "Bienvenue - Portail fournisseur ";
}

<h2 style="color:darkgreen;">   Bienvenue sur notre portail fournisseur&nbsp;!</h2>
<div class="alert alert-info">

   <strong>Vous êtes en attente de validation par nos services !</strong> Vous recevrez un mail de confirmation avec votre identifiant fournisseur.

</div>
