@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right" style="margin-top:15px">
    <li>
        <b>
            
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Index", routeValues: null, htmlAttributes: new { title = "Manage", style = "color:darkslategrey"})
            <span class="glyphicon glyphicon-user"></span>
            &nbsp; &nbsp;
        </b>
    </li>
    <li>
        <b>
            <span class="glyphicon glyphicon-log-out"></span>
            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:darkslategrey"> Se déconnecter</a>
            
            
        </b>
    </li> &nbsp; &nbsp;

</ul> 
    }
 }


    else
    {
        <ul class="nav navbar-nav navbar-right" style="margin-top:15px">
            <li>
                &nbsp;
                @*<b>
                
                        <span class="glyphicon glyphicon-user"></span>
                
                    @Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { style = "color:darkslategrey" })
                </b>&nbsp; &nbsp;*@

            <li>
                &nbsp;
                <b>

                    @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { style = "color:darkslategrey" })
                <span class="glyphicon glyphicon-log-in"></span>
                </b>&nbsp; &nbsp;
        </ul>
    }
