@{
    ViewBag.Title = "Nous contacter";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Willemse-France</strong><br />
    <strong>300 rue des Trois Pierres, 59200 Tourcoing</strong> <br />
    <strong>
    <abbr title="Phone">Standard :</abbr>
     03 20 25 79 89 </strong>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>