@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h2 style="color : darkgreen; font-weight: bold">Portail fournisseur Willemse France</h2>
    <br>

    <p><a href="https://willemsefrance.fr" class="btn btn-primary btn-lg">Lien vers notre site web &raquo;</a></p>
</div>*@

<div class="jumbotron">

    <h1 class="display-4">Bienvenue sur le portail fournisseur</h1>
    <br/>

    <button class="btn-lg btn-success pull-right" onclick="location.href='https://willemsefrance.fr'">Lien vers notre site web &raquo;</button> <br />

    <br />
    <hr class="my-4">
    </div>