@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="color : darkgreen; font-weight: bold">Portail fournisseur Willemse France</h2>
    <br>

    <p><a href="https://willemsefrance.fr" class="btn btn-primary btn-lg">Lien vers notre site web &raquo;</a></p>
</div>
